body{
	background-color: #222;
}

.navbar-default{
	background-color: #222;
}

.newsletter_section{
	padding-top: 70px;
}

.input-group-btn{
	padding-top: 3%;
}

.newsletter{
	padding-top: 3%;
}

#logo {
    width: 230px;
    margin-left: 0
}

#salir{
    margin-left:300px;
}

.scroll-to-top {
  background: #B71C1C none repeat scroll 0 0;
    border-radius: 30px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    line-height: 47px;
    opacity: 1;
    position: fixed;
    right: 5px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 50px
}

.scroll-to-top:hover {
    background: #222;
    color: #fff
}

#margin-navbar{
    margin-top: 20px;
}

.navbar{
    padding-top:0px;
    padding-bottom:0px;
}

/*.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999
}*/
